.container-fluid{
    background-image: url('../../assets/images/home-office-1867759_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* //background-position: fixed; */
    position: absolute;
    height: 620px;

}
.container{
    padding: 50px;
}
.form{
    margin-top: 50px;
}
.card{
 
    width: 702px;
    margin-left: 446px;
    border: 1px solid;
    box-shadow: 0 0 7px
}
/* .btn-success{
    margin-right: 13px;
}
.btn-primary{
    margin-left: 622px;
} */
.alg{
    margin-left: 517px;
}
.h3style{
    color: black
}
.form-group label{
    color: black
}