<ngb-accordion>
<ngb-panel>

        <ng-template ngbPanelHeader>
            <button ngbPanelToggle class="vsm-link">
              <!-- <i class="fa fa-home" aria-hidden="true" mr-2></i> -->
              <i class="vsm-icon  pe-7s-home"></i>
             
              <span class="vsm-title">Access</span>
              <i class="vsm-arrow"></i>
            </button>
    </ng-template>
    <ng-template ngPanelContent>
        <div class="vsm-dropdown">
          <div class="vsm-link">
            <div class="vsm-item">

            <h2>hai</h2>
            </div>
          </div>

        </div>


    </ng-template>

</ngb-panel>

</ngb-accordion>
