.imgstyle{
    width: 300px;
    height: 180px;

}
.ptag{
    margin-top: 17px;
    margin-left: 16px;

}
.sty5{
    margin-top: 12px;
    margin-left: 78px;
}
.likesstyle{
    width: 300px;
    margin-left: 83px;
}
.card{
    width: 500px;
}