.form-group {
    margin-bottom: 0px;
}
.addUser-btn{
   background-color: #72a638;
   color: #fff;
}
.cell{
    box-shadow: 0px 3px 7px -5px black;
}
.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
  }
  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  input {
    font-size: 12px;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
  }
  
  input:focus {
    outline: 0;
    border-bottom: 1.5px solid hsl(212, 85%, 31%);
  }
  
  label {
    text-transform: lowercase; 
     letter-spacing: normal; 
     font-size: 11px; 
     color: #2968b1;
  }
  input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 1.5rem) scale(1.5);
  }
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  input:not(:placeholder-shown) + label,
  input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }