<div class="container">
<div [ngClass]="{
'closed-sidebar' : globals.toggleSidebar,
'closed-sidebar-md' : globals.toggleSidebarMobile,
'closed-sidebar-open': globals.sidebarHover || globals.toggleSidebarMobile,
'header-menu-open' : globals.toggleHeaderMobile,
'fixed-footer' : globals.toggleFixedFooter
}" [class]="'app-container app-theme-white'">
  <!-- <app-header></app-header> -->
  

  <app-sidebar></app-sidebar>
  <!-- <img  src='.../../../../../assets/images/pokemon2-1543556_1280.jpg' alt="OCR"    
  class="mt-1 background "> -->
  <div class="mt-1 background "></div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-8 d-flex justify-content-between cover-menu">
          <h6 routerLink="/elements/homepage">Timeline</h6>
          <h6>About</h6>
          <h6 routerLink="/elements/friends">Friend</h6>
          <h6  routerLink="/elements/photos">Photos</h6>
        </div>
        <div class="col-4">

          <a routerLink="/login" class="nav-link  iconstyle"  role="button" > <i class="fa fa-power-off  mr-1 text-success"></i>Logout</a>
        </div>
      </div>
     
    </div>
  </div>
  <div class="app-main__outer">
    <div class="app-main__inner ">
      <div [@architectUIAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  <div class="sidebar-menu-overlay" (click)="toggleSidebarMobile()"></div>
</div>
<ngx-loading-bar [color]="'var(--primary)'"></ngx-loading-bar>
</div>